.angular-google-map-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.dashboard {
  position: fixed;
  bottom: 0;
  left: 1em;
  right: 1em;
  width: calc(100%-2em);
  height: auto;
  background: #fff;
  padding: 1em;
  border-radius: 1em 1em 0 0;
}

.modal.docked {
  top: 0;
  right: auto;
  bottom: auto;
  left: 10px;
}

